<ion-content [fullscreen]="true" [scroll]="true">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

  <div class="login-title">
    <div class="card-title-text" style="color:rgb(0, 154, 154); font-family: 'Poppins', sans-serif; font-size: 32px;">
      Weekly
    </div>
  </div>

  <div class="lottie-wrapper" style="display: flex; justify-content: center; margin-top: 20px;">
    <lottie-player 
      src="../assets/animationlogin.json"
      background="transparent"
      speed="1"
      style="width: 250px; height: 250px;"
      loop
      autoplay>
    </lottie-player>
  </div>

  <div class="login-container" style="padding: 20px;">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-family: 'Poppins', sans-serif;">Accede a tu cuenta</ion-card-title>
        <ion-card-subtitle style="font-family: 'Poppins', sans-serif;">Ingrese sus credenciales</ion-card-subtitle>  
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item lines="none" class="spacer" style="height: 12px;"></ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button" (click)="onLogin()" style="margin-top: 24px;">
          Iniciar Sesión
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>