<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="card-title-text">
      Metas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="littie-wrapper">
    <lottie-player 
    src="../assets/todolistanimation.json"
    backgroud ="transparent"
    speed="1"
    loop autoplay
    >
    </lottie-player>
  </div>

  <div class="titulos">Meta Semanal</div>
  <ion-list *ngIf="metaSemanal">
    <ion-item>
      <ion-checkbox 
        labelPlacement="end"
        (ionChange)="onTareaChecked(metaSemanal, 10, $event)">
      </ion-checkbox>
      <ion-text class="ion-padding-start">{{ metaSemanal.activity }} (+10)</ion-text>
    </ion-item>
  </ion-list>

  <div class="titulos">Metas Diarias</div>
  <ion-list *ngFor="let tarea of metasDiarias">
    <ion-item>
      <ion-checkbox 
        labelPlacement="end"
        (ionChange)="onTareaChecked(tarea, 5, $event)">
      </ion-checkbox>
      <ion-text class="ion-padding-start">{{ tarea.activity }} (+5)</ion-text>
    </ion-item>
  </ion-list>

  <div class="titulos">Puntos Totales</div>
  <ion-text class="ion-padding">{{ puntos }}</ion-text>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
