<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="card-title-text">
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="profile-photo" style="text-align: center; margin-top: 20px;">
    <img src="../assets/profilephotodefault.png" alt="Foto de perfil" width="120" height="120" style="border-radius: 50%;">
  </div>

  <div class="profile-information">
    <ion-list>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-text>{{ nombre }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ correo }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Puntos</ion-label>
        <ion-text>{{ puntos }}</ion-text>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="onEdit()">
        Editar Perfil
      </ion-button>

      <div class="grafico" style="text-align: center; margin: 20px 0;">
        <img src="../assets/grafico.png" alt="Gráfico" width="200">
      </div>

      <ion-button expand="block" color="danger" (click)="onExit()">
        Cerrar Sesión
      </ion-button>
    </ion-list>
  </div>

</ion-content>
