<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-information">
    <ion-list>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" placeholder="ingrese nombre" [(ngModel)]="nuevonombre" style="text-align: right;"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button expand="block" (click)="onAcept()">
            Aceptar
          </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
